@import url('http://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}